<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>vue-element-admin</title>
    <link rel="shortcut icon" href=./favicon.ico>
    <link href=./vueElement/css/app.b1777523814120b8cc6c6d2dba2700e8.css rel=stylesheet>
</head>
<script src=./vueElement/tinymce/tinymce.min.js></script>

<body>
    <div id=app></div>
    <script type=text/javascript src=./vueElement/js/manifest.df4f121e55ad6a62590c.js></script>
    <script type=text/javascript src=./vueElement/js/vendor.7d3a78f002af952748fe.js></script>
    <script type=text/javascript src=./vueElement/js/app.d180fdd8c32d6594bbcf.js></script>
</body>

</html>